body{
    background: rgb(229, 252, 247);
}


.group{
    margin-top: -50px;  
}
.group_span{
    color: #fff;
    font-size: 3rem;
}
.group_profile{
    margin-top: 90px;
}
.group_edit{
    margin-bottom: 10px;
}

.content{
    width: 50%;
    height: 30vh;
    margin-top: 150px;
}